<div class="coupon">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="coupon__discount">
                    <p>Coupons from</p>
                    <div class="coupon__discount__flex">
                          <div class="coupon__discount__flex__number">
                              <h2>25</h2>
                          </div>  
                          <div class="coupon__discount__flex__off">
                            <h2>%</h2>
                            <h2>OFF</h2>
                          </div>
                    </div>
                    <h2>REPAIRS!</h2>
                </div>
            </div>
            <div class="col-7">
                <div class="coupon__mid">
                 <h2>OUR LATEST SPECIALS</h2>
                 <h2>ANY SERVICE OF $250 OR MORE</h2>
                 <p>
                     We value our clients, that’s why we want to 
                     give you this special discount in order for you 
                     to use it to make your car more safe and feel
                     confident when on the road!
                 </p>
                 </div>
            </div>
            <div class="col-2">
                <div class="coupon__right">
                    <a href="">
                        LEARN MORE
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>