<div class="coupon">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="coupon__discount">
                    <p>Coupons from</p>
                    <div class="coupon__discount__flex">
                          <div class="coupon__discount__flex__number">
                              <h2>25</h2>
                          </div>  
                          <div class="coupon__discount__flex__off">
                            <h2>%</h2>
                            <h2>OFF</h2>
                          </div>
                    </div>
                    <h2>REPAIRS!</h2>
                </div>
            </div>
            <div class="col-9">
                 jebat
            </div>
        </div>
    </div>
</div>