<div class="footerBottom">
    <div class="container">
        <div class="footerBottom__title">
            <h2>TESTIMONIALS</h2>
            <p>WHAT OUR <strong>CLIENTS SAY</strong></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footerBottom__element">
                   <div class="icon">
                       <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use>
                     </svg>
                   </div>
                   <div class="text">
                       <p>
                          I had a pre-purchase inspection on a BMW M3. I was looking to buy it 
                          and they let me bring it in on a Saturday with no appoint. Great guys! 
                          I recommend this service to everyone who looks for quality!
                       </p>
                       <h6>William Hill</h6>
                       <h6>26 September, 2018</h6>         
                   </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footerBottom__element">
                   <div class="icon">
                       <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use>
                     </svg>
                   </div>
                   <div class="text">
                       <p>
                         I do oil changes regularly here, as the car needs the oil changed 
                         in order to work properly.The workers are 
                         polite and they really know what they do.
                         I'm also satisfied with the prices here!
                       </p>
                       <h6>Brian Murdoch</h6>
                       <h6>09 October, 2018</h6>         
                   </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footerBottom__element">
                   <div class="icon">
                       <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use>
                     </svg>
                   </div>
                   <div class="text">
                       <p>
                          I had a fuel injection issue, and that's why I turned to this service!
                          They fixed everything and even washed my car for free!
                          I’m glad that I went there, the people working there also gave me warranty.
                       </p>
                       <h6>Richard Smith</h6>
                       <h6>02 April, 2019</h6>         
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<div class="footerBottom__coupon">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footerBottom__coupon__left">

                </div>
            </div>
            <div class="col-8">
                <div class="footerBottom__coupon__right">
                    <div class="footerBottom__coupon__right__title">
                        <h2>SCHEDULE YOUR APPOINTMENT</h2>
                        <h2>CALL: 1-800-123-4567</h2>
                        <p>Your Automotive Repair & Maintenance Service Specialist</p>
                    </div>
                    <div class="footerBottom__coupon__right__buttons">
                        <a href="#" class="footerBottom__coupon__right__buttons__button">BOOK AN APOINTMENT</a>
                        <a href="#" class="footerBottom__coupon__right__buttons__button">GET QUOTE</a>
                        

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
