<div class="footer">
    <div class="footer__orange">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="footer__orange__element">
                        <div class="icon">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#placeholder"></use>
                            </svg>
                        </div>
                        <div class="text">
                            <h6>ADDRESS:</h6>
                            <p>4578 MARMORA ROAD, GLASGOW</p>
                        </div>
                    </div>
                </div>
                 <div class="col-4">
                    <div class="footer__orange__element">
                        <div class="icon">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                            </svg>
                        </div>
                        <div class="text">
                            <h6>PHONES:</h6>
                            <p>+7-495-1234567; +7-495-1234568</p>
                        </div>
                    </div>
                </div>
                 <div class="col-4">
                    <div class="footer__orange__element">
                        <div class="icon">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                            </svg>
                        </div>
                        <div class="text">
                            <h6>WORKING TIME:</h6>
                            <p>MONDAY–SATURDAY: 08:00–18:00;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__black">
        <div class="container">
            <div class="footer__black__top">
                <div class="row">
                    <div class="col-6">
                        <div class="footer__black__top__right">
                              LOGO
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="footer__black__top__left">
                            <ul class="footer__black__top__left__lists">
                                <li class="footer__black__top__left__lists__list"><a href="">HOME</a></li>
                                <li class="footer__black__top__left__lists__list"><a href="">ABOUT</a></li>
                                <li class="footer__black__top__left__lists__list"><a href="">BLOG</a></li>
                                <li class="footer__black__top__left__lists__list"><a href="">SHOP</a></li>
                                <li class="footer__black__top__left__lists__list"><a href="">CONTACTS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>