<div class="footerTop">
    <div class="container">
        <div class="footerTop__title">
            <h2>OUR CERTIFIED</h2>
            <p>WHY CHOOSE <strong>CERTIFIED SERVICE?</strong></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footerTop__element">
                  <div class="circle">
                     <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calc"></use>
                     </svg>
                  </div>
                  <h2>ESTIMATES</h2>
                  <p>
                     We are the service that estimates fairly 
                     the issues with the car and gives you the precise
                     help you need to make your car safe!
                  </p>
                </div>
            </div>
            <div class="col-4">
               <div class="footerTop__element">
                   <div class="circle">
                      <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gear"></use>
                     </svg>
                  </div>
                  <h2>TRUSTED</h2>
                  <p>
                     Lots of satisfied clients return to our 
                     certified service to get preventative 
                     maintenance or get help from our skilled car mechanics!
                  </p>
                </div>
            </div>
            <div class="col-4">
               <div class="footerTop__element">
                   <div class="circle">
                      <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#diploma"></use>
                     </svg>
                  </div>
                  <h2>GUARANTEES</h2>
                  <p>
                     We guarantee the quality of the work performed. 
                     That’s why we’re ready to solve 
                     any problem that arose again for free!
                  </p>
               </div>
            </div>
        </div>
    </div>
</div>