<div class="footerMid">
    <div class="container">
        <div class="footerMid__title">
            <p>SOME STATISTICS ABOUT US</p>
            <h2>AUTO REPAIR TECHNICAL STATISTICS</h2>
            <h2>YOU MUST KNOW</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footerMid__elementTop">
                    <div class="number">10</div>
                    <div class="text">
                        <h2>YEARS OF</h2>
                        <h2>EXPERIENCE</h2>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footerMid__elementTop">
                    <div class="number">32</div>
                    <div class="text">
                        <h2>TECHNICIANS &</h2>
                        <h2>WORKERS</h2>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footerMid__elementTop">
                    <div class="number">2578</div>
                    <div class="text">
                        <h2>SATISFIED</h2>
                        <h2>CUSTOMERS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerMid__imageSection">
        <div class="footerMid__imageSection__element first"><img src="assets/images/carrepair1.jpg" alt=""></div>
        <div class="footerMid__imageSection__element second"><img src="assets/images/carrepair2.jpg" alt=""></div>
        <div class="footerMid__imageSection__element third"><img src="assets/images/carrepair3.jpg" alt=""></div>
        <div class="footerMid__imageSection__element fourth"><img src="assets/images/carrepair4.jpg" alt=""></div>
    </div>
</div>