<div class="footerTop">
    <div class="container">
        <div class="footerTop__title">
            <h2>OUR CERTIFIED</h2>
            <p>WHY CHOOSE <strong>CERTIFIED SERVICE?</strong></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footerTop__element">
                  <div class="circle">
                     <svg class="svg-icon ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calc"></use>
               </svg>
                  </div>
                  blin
                </div>
            </div>
            <div class="col-4">
               <div class="footerTop__element">
                   <div class="circle">
                      
                  </div>
                  blin
                </div>
            </div>
            <div class="col-4">
               <div class="footerTop__element">
                   <div class="circle">
                      
                  </div>
                  blin
               </div>
            </div>
        </div>
    </div>
</div>