<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="header--slider">
                 <div class="header--slider__title">Looking for</div>
                 <div class="header--slider__subtitle">The right vehicle</div>
                 <div class="header--slider__desc">Repair services?</div>
                 <div><a href="#" class="header--slider__button">Book an appointment</a></div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
       </div>   
</div>
<div class="headerbottom">
    <div class="container">
        <div class="row">
             <div class="col-6">
                <div class="headerbottom__left">
                 <div class="headerbottom__title">OUR SERVICES</div>
                 <div class="headerbottom__subtitle">BELOW ARE SOME OF</div>
                 <div class="headerbottom__desc">THE MANY AUTO REPAIR </div>
                 <div class="headerbottom__desc">SERVICES WE OFFER: </div>
                 <div class="headerbottom__text">
                     <p>
                        Meet the skilled team of mechanics with over 5 years of 
                        immaculate experience in car repair industry! We use only
                        top quality parts, and are bent on making your road trips 
                        safe and comfortable! We’re always glad to assist you in these tasks.
                     </p>
                 </div>
                 <div ><a href="#" class="headerbottom__button">Book an appointment</a></div>
                </div>
             </div>
            <div class="col-3">
                <ul class="headerbottom__list">
                   <li class="headerbottom__list__item">
                      <span>FREE Loaner Cars </span>
                   </li>
                   <li class="headerbottom__list__item">
                        <span>FREE Shuttle Service </span>
                   </li>
                   <li class="headerbottom__list__item">
                        <span> Electrical Diagnostics </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>General Auto Repair & Maintenance </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>General Auto Repair & Maintenance </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Manufacturer Recommended Service </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Brake Repair and Replacement </span>
                   </li>
                   <li class="headerbottom__list__item">
                      <span>Air Conditioning A/C Repair </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Tire Repair and Replacement </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Fuel System Repair</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Exhaust System Repair </span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Engine Cooling System Maintenanc </span>
                   </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="headerbottom__list">
                   <li class="headerbottom__list__item">
                      <span>Starting and Charging Repair</span>
                   </li>
                   <li class="headerbottom__list__item">
                        <span>Wheel Alignment</span>
                   </li>
                   <li class="headerbottom__list__item">
                        <span>Computer Diagnostic Testing</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Vehicle Preventative Maintenance</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>State Emissions Inspection</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Emission Repair Facility</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Tune Up</span>
                   </li>
                   <li class="headerbottom__list__item">
                      <span>Oil Change</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Brake Job / Brake Service</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Brake Job / Brake Service</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Engine Cooling System Flush & Repair</span>
                   </li>
                   <li class="headerbottom__list__item">
                       <span>Steering and Suspension Work</span>
                   </li>
                </ul>
            </div>
        </div>
    </div>
</div>
            