<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="header--slider">
                 <div class="header--slider__title">Looking for</div>
                 <div class="header--slider__subtitle">The right vehicle</div>
                 <div class="header--slider__desc">Repair services?</div>
                 <div ><a href="#" class="header--slider__button">Book an appointment</a></div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
                <div  class="col-3 ">
                    <div class="absolute--element">asdasd</div>
                </div>
       </div>   
</div>
<div class="headerbottom">
    <div class="container">
        <div class="row">
             <div class="col-6">
                <div class="headerbottom__left">
                 <div class="headerbottom__title">OUR SERVICES</div>
                 <div class="headerbottom__subtitle">BELOW ARE SOME OF</div>
                 <div class="headerbottom__desc">THE MANY AUTO REPAIR </div>
                 <div class="headerbottom__desc">SERVICES WE OFFER: </div>
                 <div class="headerbottom__text">
                     <p>
                        Meet the skilled team of mechanics with over 5 years of 
                        immaculate experience in car repair industry! We use only
                        top quality parts, and are bent on making your road trips 
                        safe and comfortable! We’re always glad to assist you in these tasks.
                     </p>
                 </div>
                 <div ><a href="#" class="headerbottom__button">Book an appointment</a></div>
                </div>
             </div>
            <div class="col-3">
                <ul class="headerbottom__list">
                   <li class="headerbotto__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                   <li class="headerbottom__list__item">
                       FREE Loaner Cars
                   </li>
                </ul>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</div>
            