<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="header--slider">
                 <div class="header--slider__title">Looking for</div>
                 <div class="header--slider__subtitle">The right vehicle</div>
                 <div class="header--slider__desc">Repair services?</div>
                 <div class="header--slider__button">Book an appointment</div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
                <div  class="col-4 absolute--element"></div>
                <div  class="col-4 absolute--element"></div>
                <div  class="col-4 absolute--element"></div>
                <div  class="col-4 absolute--element"></div>
       </div>   
</div>
            