<div class="midpart-top">
     <div class="comtainer">
         <div class="midpart-top__top">
            <h2>HOW IT WORKS</h2>
            <p>HOW IT <strong>WORKS</strong></p>
         </div>
     </div>
    <div class="container">
        <div class="row">
                <div  class="col-3 ">
                    <div class="midpart-top__element">
                        <div class="midpart-top__element__img1"></div>
                        <h2>HOW IT WORKS</h2>
                        <p>HOW IT <strong>WORKS</strong></p>
                    </div>
                </div>
                <div  class="col-3 ">
                    <div class="midpart-top__element">
                        <div class="midpart-top__element__img2"></div>
                        <h2>HOW IT WORKS</h2>
                        <p>HOW IT <strong>WORKS</strong></p>
                    </div>
                </div>
                <div  class="col-3 ">
                    <div class="midpart-top__element">
                        <div class="midpart-top__element__img3"></div>
                        <h2>HOW IT WORKS</h2>
                        <p>HOW IT <strong>WORKS</strong></p>
                    </div>
                </div>
                <div  class="col-3 ">
                    <div class="midpart-top__element">
                        <div class="midpart-top__element__img4"></div>
                        <h2>HOW IT WORKS</h2>
                        <p>HOW IT <strong>WORKS</strong></p>
                    </div>
                </div>
        </div> 
    </div>  
</div>