<div class= "topbar-container">
<div class="container">
<div class="topbar">
  <div class="topbar--left">
    <a href="">LOGO</a>
  </div>
  <div class="topbar--right">
    <ul class="topbar--right__lists">
      <li class="topbar--right__lists__list"><a href="">Home</a></li>
      <li class="topbar--right__lists__list"><a href="">Pages</a></li>
      <li class="topbar--right__lists__list"><a href="">Blog</a></li>
      <li class="topbar--right__lists__list"><a href="">Shop</a></li>
      <li class="topbar--right__lists__list"><a href="">Portfolio</a></li>
      <li class="topbar--right__lists__list"><a href="">Elements</a></li>
    </ul>
  </div>
  </div>
 </div>
</div>