.footerBottom{
    padding-top: 80px;
    padding-bottom: 74px;
    background-color:  #f6f6f7;
    font-family: "Raleway",Sans-serif;
    &__title{
        text-align: center;
        margin-bottom: 60px;
        h2{
            color: #b7b9be;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .4px;
            margin-bottom: 20px;
        }
        p{
            color: #1b242b;
            font-size: 38px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1em;
            letter-spacing: -.2px;
            strong {
                font-weight: bold;
            }
        }
    }
    &__element{
        min-height: 300px;
        max-width: 100%;
        background-color: #fff;
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        padding: 37px 30px 48px 30px;
        display: flex;
        flex-direction: row;
        .icon{
            margin-left: -5px;
            margin-right: 10px;
            .svg-icon{
                fill: $orange;
                height: 32px;
                width: 32px;
            }
        }
        .text{
            margin-right: 10px;
            margin-top: 20px;
        }
        p{
            color: #8d98a1;
            font-family: "Open Sans",Sans-serif;
            font-size: 14px;
            line-height: 1.5em;
        }
        h6{
            &:first-of-type{
                font-family: "Open Sans",Sans-serif;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0;
                margin-top: 25px;
                margin-bottom: 8px;
            }
            &:last-of-type{
                font-family: "Open Sans",Sans-serif;
                font-size: 14px;
                font-weight: 400;
                font-style: italic;
            }
        }
    }
}