.footerBottom{
    padding-top: 80px;
    padding-bottom: 74px;
    background-color:  #f6f6f7;
    font-family: "Raleway",Sans-serif;
    &__title{
        text-align: center;
        margin-bottom: 60px;
        h2{
            color: #b7b9be;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .4px;
            margin-bottom: 20px;
        }
        p{
            color: #1b242b;
            font-size: 38px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1em;
            letter-spacing: -.2px;
            strong {
                font-weight: bold;
            }
        }
    }
    &__element{
        min-height: 300px;
        max-width: 100%;
        background-color: #fff;
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        padding: 37px 30px 48px 30px;
        display: flex;
        flex-direction: row;
        .icon{
            margin-left: -5px;
            margin-right: 10px;
            .svg-icon{
                fill: $orange;
                height: 32px;
                width: 32px;
            }
        }
        .text{
            margin-right: 10px;
            margin-top: 20px;
        }
        p{
            color: #8d98a1;
            font-family: "Open Sans",Sans-serif;
            font-size: 14px;
            line-height: 1.5em;
        }
        h6{
            &:first-of-type{
                font-family: "Open Sans",Sans-serif;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0;
                margin-top: 25px;
                margin-bottom: 8px;
            }
            &:last-of-type{
                font-family: "Open Sans",Sans-serif;
                font-size: 14px;
                font-weight: 400;
                font-style: italic;
            }
        }
    }
}
.footerBottom__coupon{
    &__left{
        background-image: url("../images/bmw.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    &__right{
        padding-left: 52px;
        min-height: 292px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__title{
            p{
                color: #8d98a1;
                font-family: "Open Sans",Sans-serif;
                font-size: 14px;
                line-height: 1.5em;
                margin-top: 15px;
            }
            h2{
            &:first-of-type{
                font-family: "Raleway",Sans-serif;
                font-size: 38px;
                font-weight: 300;
                text-transform: uppercase;  
                }
            &:last-of-type{
                font-family: "Raleway",Sans-serif;
                font-size: 38px;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 1.25em;
                letter-spacing: 0;
                color: $orange;
                }
            }
        }
        &__buttons{
            display:flex;
            flex-direction: row;
            margin-top:38px;
            &__button{
                font-size: 14px;
                font-weight: 800;
                letter-spacing: .7px;
                border-radius: 0;
                display: inline-block;
                line-height: 1;
                color: #fff;
                text-transform: uppercase;
                
            }
            a{
                &:first-of-type{
                    background-color: $orange;
                    padding: 17px 45px 19px 45px;
                    margin: 0px 39px 0 0px;
                }
                &:last-of-type{
                    background-color: black;
                    padding: 17px 90px 19px 90px;
                    
                }
            }
        }
    }
}
