.header{
height: 130vh;
background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ),url("../images/bmwz4.jpg") center no-repeat;
// background-image: url("../images/bmwz4.jpg");
// background-repeat: no-repeat;
background-size: cover;

//background-position: center;

  &--slider{
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-width: 100%;
     color: #fff;
     font-family: "Raleway",Sans-serif;
     font-size: 50px;
     font-weight: 300;
     text-transform: uppercase;
     line-height: 1em;
     padding-top: 270px;
     
     &__title{
        letter-spacing: 0;
        padding: 0 15px 0 0px;
        margin: 53px 0 0 0;
        text-align: left;
     }
     &__subtitle{
        letter-spacing: 0;
        padding: 0 15px 0 0px;
        margin: 16px 0 10px 0;
        text-align: left;
     }
     &__desc{
        font-size: 80px;
        font-weight: 800;
        letter-spacing: -.3px;
        padding: 10px 15px 0 0px;
        margin: 3px 0 0 0;
        align-self: flex-start;
     }
     &__button{
        font-size: 14px;
        font-weight: 800;
        letter-spacing: .7px;
        background-color: #f96020;
        padding: 17px 45px 19px 45px;
        margin: 39px 0 0 0px;
        border-radius: 0;
        display: inline-block;
        line-height: 1;
        color: #fff;
        
     }
  }
}
.absolute{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
    &--element{
      margin-top: -80px;
      z-index: 1; 
      background-color:#f96020;
      height: 300px;
    }
  }
  .headerbottom{
     background-color: #f6f6f7;
     margin-top: 80px;
     transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
     padding: 77px 0 80px 0;
     &__title{
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .7px;
      color: #b7b9be;
     }
     &__subtitle{
      font-size: 38px;
      font-weight: 300;
      text-transform: uppercase;
     }
     &__desc{
      font-size: 38px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1.25em;
      letter-spacing: -.2px;
     }
     &__text{
      color: #8d98a1;
      font-family: "Open Sans",Sans-serif;
      font-size: 14px;
      line-height: 1.5em;
      padding-top: 50px;
      padding-bottom: 0px;
     }
     &__button{
      font-size: 14px;
      font-weight: 800;
      letter-spacing: .7px;
      background-color: #f96020;
      padding: 17px 45px 19px 45px;
      margin: 39px 0 0 0px;
      border-radius: 0;
      display: inline-block;
      line-height: 1;
      color: #fff;
      text-transform: uppercase;
     }
     &__list{
      &__item{
         padding: 4px;
         span{
            margin-left: 2px; 
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;          
         }
         &::before{
            @include arrow($rotate: -45deg, $color: $orange, $size: 3px);
            margin-bottom: 2px;
            margin-left: 3px;
         }
      }
   }
}