.midpart-top{
    padding-top: 80px;
    padding-bottom: 74px;
    &__top{
        text-align: center;
        margin-bottom: 60px;
        h2{
            color: #b7b9be;
            font-family: "Raleway",Sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .4px;
            margin-bottom: 20px;
        }
        p{
            color: #1b242b;
            font-family: "Raleway",Sans-serif;
            font-size: 38px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1em;
            letter-spacing: -.2px;
            
            strong {
                font-weight: bold;
            }
        }
        
    }
    &__element{
        h2{
            font-family: "Raleway",Sans-serif;
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1em;
            letter-spacing: 1px;
        }
        .bold{
            margin-top: 22px;
            font-weight: 800;
            line-height: 1.1em;
            letter-spacing: .8px;
        }
        &__img1{
           background-image: url("../images/appointment.jpg");
        }
        &__img2{
            background-image: url("../images/repair.jpg");
         }
         &__img3{
            background-image: url("../images/getcarkey.jpg");
         }
         &__img4{
            background-image: url("../images/opencar.jpg");
         }
         .img-prop {
            min-height: 270px;
            max-width: 100%;
            background-repeat: no-repeat;
            background-size: cover; 
         }
    }
}