.topbar{
  width: 100%;
  height: $nav-height;
  background-color:white;
  display: flex;
  justify-content: space-between;
  line-height: $nav-height;
  
  &--left{
    margin-left: 50px;
  }
  &--right{
    &__lists{
      margin-left: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__list{
        margin-right: 20px;
        a{
          color: #a1a2a4;
          text-decoration: none;
          margin-right: 2px;
          &:hover{
            color:black;
          }
          &::after{
            @include arrow($rotate: 45deg);
            margin-bottom: 2px;
            margin-left: 3px;
          } 
        } 
          
      }
    }
  }
}
